body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*this is the source i used to create a wave
https://www.youtube.com/watch?v=Tf6qm5JMUXQ*/

.firstWave {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: blue;
  animation: animateFirst 4s ease-in-out infinite;
}
@keyframes animateFirst{

  0%,100%
  {
    clip-path:polygon(0% 50%, 15% 44%, 35% 50%,
      54% 60%,70% 61%,84% 59%,100% 50%,100% 100%, 0% 100%);
  }
  50%
  {
    clip-path:polygon(0% 50%, 15% 65%, 35% 66%,
      51% 62%, 67% 50%, 84% 45%, 100% 50%, 100% 100%, 0% 100%);
  }
}
.secondWave {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: blue;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate{

  0%,100%
  {
    clip-path:polygon(0% 50%, 15% 65%, 35% 66%,
      51% 62%, 67% 50%, 84% 45%, 100% 50%, 100% 100%, 0% 100%);
  }
  50%
  {
    clip-path:polygon(0% 50%, 15% 44%, 35% 50%,
      54% 60%,70% 61%,84% 59%,100% 50%,100% 100%, 0% 100%);
  }
}
